<p>Ask your coach anything</p>
<form class="mb-3" action="/answer" data-turbo="false">
<div class="input-group mb-3">
  <input class="form-control" type="text" name="question">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Ask!</button>
  </div>
</div>
</form>
